
  .owner {
    float:right;
    width:220px;
    height:220px;
    margin-left:20px;
  }
  .owner-detail {
    color: rgb(16, 85, 175);
    font-size:20px;
    text-align: justify;
    padding: 20px 30px 10px 50px;
    
  }
  .award {
    border-radius: 50%;
    margin-left:20px;
    margin-right:20px;
    border: 2px solid rgb(7, 114, 73);
    padding: 5px;
    width: 150px;
    height:150px;
   
    
  }

  img.award:hover {
    box-shadow: 4px 4px 4px 4px rgb(11, 197, 126);
  }
  .achivements {
    margin-left: 360px;
  }

  figure {
    display: inline-block;
}

figcaption {
    margin-top: 10px;
    text-align: center;
}
  .search-box{
      background:#2f3640;
      height:40px;
      border-radius: 40px;
      padding:10px;

  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.navbar {
  overflow: hidden;
  position: absolute; 
    margin:5;
    right: 30px;
  
 
}

.navbar a {
  float: right;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.subnav {
  float: right;
  overflow: hidden;
  text-align: center;
  
  
}

.subnav .subnavbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
  
  
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(224, 155, 26);
   position: static;
  
 
}

.subnav-content {
  display: none;
  left: 0;
  background-color: rgb(224, 155, 26);
  text-align: center;
  
 

}

.subnav-content a {
  float: right;
  background-color: rgb(224, 155, 26);
  color:white;
  text-decoration: none;
  z-index: -1;
  
}

.subnav-content a:hover {
  background-color: rgb(224, 155, 26);
  color: black;

}

.subnav:hover .subnav-content {
  display: block;
  
}

.publication{
  
  background-color: rgb(192,192,192);
  width:60%;
  height:170px;
  color: black;
  margin: 10px 370px;
  text-align: center;
  border-style: inset;
  
  
  
  
}
.leftpublication{
  width:170px;
  height:170px;
  float:left;
  

}

.rightpublication{

  width:170px;
  height:170px;
  float:right;
 
}

#latestpublication {
  text-align: center;
  background-color: rgb(128,128,128);
  padding: 30px 30px;
  
  
}

.mid{
  margin-left: 400px;
  width:21%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 300px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  
  background-color: rgba(0, 0, 0, 0.849); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 10px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}